<html>
<head>
    <title>UBC Badminton Club</title>
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
</head>
<body>
<div id="container">
    <p>{{ content }}</p>
    <div id="footer">
        {% if homeUrl %}
        <a href="{{ homeUrl }}">Home</a>
        {% endif %}

        {% if homeUrl or logoutUrl %}
        |
        {% endif %}

        {% if logoutUrl %}
        <a href="{{ logoutUrl }}">Logout</a>
        {% endif %}

        {% if not homeUrl or not logoutUrl %}
        <a href="www.ams.ubc.ca/clubs/badminton">Website</a> | <a href="mailto:ubc.badm@gmail.com">Email</a>
        {% endif %}
    </div>
</div>
</body>
</html>

