<html>
<head>
    <title>UBC Badminton Club</title>
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
</head>
<body>
<div id="container">

    <p>{{ member.firstName }},</p>
    <p>Congratulations on becoming a member of the UBC Badminton Club!</p>
    <p>New Members Orientation (for <b>new</b> members only) will be happening Tuesday, Sept. 29 from 4-6pm at Osbourne.
       Friday, Oct. 2 will mark the first gym night open to all members</p>
    <p>In order to join the UBC Badminton mailing list, please check your inbox and validate your email of <i>{{ member.email }}</i>.</p>
    <div id="footer">
        {% for url in urlList %}
            <a href="{{ url.url }}">{{ url.urlName }}</a>
            {% if not forloop.last %}
                |
            {% endif %}
        {% endfor %}

        {% if not urlList %}
        <a href="www.ams.ubc.ca/clubs/badminton">Website</a> | <a href="mailto:ubc.badm@gmail.com">Email</a>
        {% endif %}
    </div>

</div>
</body>
</html>

