<html>
<head>
    <title>UBC Badminton Club</title>
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
</head>
<body>
<div id="container">

    <p>{{ member.firstName }},</p>
    <p>Congratulations and thank you for becoming a member of the UBC Badminton Club!</p>
    <p>The first gym night will be Tuesday, Sept. 29 for <b>new</b> members.
       Friday, Oct. 2 will be the first gym night open to all members</p>
    <p>Please check your inbox to validate your email of <i>{{ member.email }}</i> so that we can keep you informed of badminton news/events.</p>
    <div id="footer">
        {% for url in urlList %}
            <a href="{{ url.url }}">{{ url.urlName }}</a>
            {% if not forloop.last %}
                |
            {% endif %}
        {% endfor %}

        {% if not urlList %}
        <a href="www.ams.ubc.ca/clubs/badminton">Website</a> | <a href="mailto:ubc.badm@gmail.com">Email</a>
        {% endif %}
    </div>

</div>
</body>
</html>

